<h1>Sign up!</h1>


<form>
    <form method="POST" action="/sign-in">
<label for="email">email</label>
<input type="text" name="email">
<label for="password">Password</label>
<input type="password" name="password">
<input type="submit" name="yay">
</form>
</html>