
<h1>Ratchet Radio.</h1>
<style>
html{background-color: red;
 font-size: 35px;
}	

h1{
	text-align: center;
	color: black;
}

form{
	 border: 40px;
}
 form{
	border-color: black;
	margin-left: auto;
    margin-right: auto;
}


h1{
    border-style: solid;
    border-left-width:75px;
    height: 75px; 
}  


footer{
	text-align: center;
}
</style>
<form>
<body>
    <method="POST" action="/sign-in">
<label for="email">email:</label>
<input type="text" name="email">
<label for="password">Password:</label>
<input type="password" name="password"></div>
<input type="submit" name="Redirect"><br>
</form>
</body>
<!-- # <% %>
#  <% if flash[:notice] %>
#    <div class="flash notice">
#      <%= flash[:notice] %>
#    </div>
<!--  <% @users.each do |u| %>
 <h2><%= u.email %></h2>
 <h3><%= u.password %></h3>
    <%end%> --> 

<!-- <div class="siderbar"/>
<a href="Ratchet Fights"/><br>
<a href="Daily Gossip"/><bt>
<a href="Twerk Video's"/><br>
</div> -->

<div class="header">
<h1>Ratchet News Of The Day!</h1
><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<video controls="" autoplay="" name="media"><source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
</video>
<video controls="" autoplay="" name="media"><source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
<video controls="" autoplay="" name="media"><source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
</video>
<footer>
&copy; Rachet Radio inc.
<dic class="links"/> 
<a href=""/>Home</a>
<a href=""/>Contact</a>
<a href=""/>About Us</a></a>
</footer>
</video>
</html>